{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Route Mapper{% endblock %}

{% block content %}
<div class="container flex">
    <div class="row text-center">
        <h1>MapBox Route Builder App</h1>

    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <div id="map" style="width: 100%; height: 400px;"></div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 mt-5">
            <form class="form-floating" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="text" class="form-control" id="floating-address-input"
                    placeholder="1234 Main St. City, State 12345">
                <input class="btn btn-dark" type="submit" name="submit-btn" value="Add Address">
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 mt-3">

            <table class="table table-striped table-bordered">
                <caption class="text-center">Basic Address Table</caption>
                <thead>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                </thead>
                <tbody>
                    {% for address in addresses %}
                    <tr>
                        <td>{{ address.name }}</td>
                        <td>{{ address.address }}</td>
                        <td>{{ address.long }}</td>
                        <td>{{ address.lat }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
<script>
    mapboxgl.accessToken = '{{ mapBoxAccessToken }}';
    const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [-91.02493, 30.3673],
        zoom: 8
    });

    // Initialize the GeolocateControl.
    const geolocate = new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    });
    // Add the control to the map.
    map.addControl(geolocate);
    // Set an event listener that fires
    // when a trackuserlocationstart event occurs.
    geolocate.on('trackuserlocationstart', () => {
        console.log('A trackuserlocationstart event has occurred.');
    });
</script>

{% for address in addresses %}
<script type="text/javascript">
    var marker = new mapboxgl.Marker()
        .setLngLat(['{{ address.long }}', '{{ address.lat }}'])
        .setPopup(new mapboxgl.Popup().setHTML("<p>{{ address.name }} <br> {{ address.address }}</p>"))
        .addTo(map);
</script>
{% endfor %}
{% endblock %}
