{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <div class="row justify-content-center">
        <div class="col-3 col-push-9 mt-5 mb-5">
            <span class="glyphicon glyphicon-list"></span>
        </div>
        <div class="col-9 col-pull-3" id="page-title">
            <h1 class="display-6 text-center"><strong>Delivery Marker: </strong><br>
                <small>Mark all your delivery locations</small>
            </h1>
        </div>

    </div>
    <div class="row">
        <div class="col-3 col-push-9">
            <div class="card text-center shadow-lg" style="width:100%; height:100%;">
                <div class="card-body">
                    This is where the object data will be rendered for routes and deliveries.
                </div>
            </div>
        </div>

        <div class="col-9 col-pull-3 justify-content-center"
            style="background-color:#ffffff; box-shadow: inset 1px -1px 1px #ffffff9a, inset -1px 1px 1px #ffffff9a;">
            <!-- Draws map on page -->
            <div id="map" style="width: 100%; height: 400px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center py-5">
            <div class="card text-center shadow-lg">
                <div class="card-body">
                    <h2>Sign In</h2>
                    <hr>
                    <form method="post" role="form">
                        {% csrf_token %}
                        <div class="form-field">
                            {{ form.username | crispy }}
                        </div>
                        <div class="form-field">
                            {{ form.password | crispy }}
                        </div>
                        <input type="hidden" id="next" name="next" value="{{ next }}">
                        <button class="btn btn-dark btn-block m-4" type="submit">Sign In</button>
                    </form>
                    <p class="lead">Don't have an account? </p>
                    <div class="">
                        <a class="btn btn-dark" href="accounts/register.html">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    mapboxgl.accessToken = '{{ mapBoxAccessToken }}';
    const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [-91.02493, 30.3673],
        zoom: 8
    });
</script>
{% endblock %}
